
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overflow-x: hidden;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:  #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.logo_place_header {
  height: 32px;
  width: 228px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;

}

.header__title {
  width: 730px;
  margin: 0;
  padding: 0;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  z-index: 2;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
  box-sizing: border-box;
}

.description {
  margin: 100px auto 0;
  display: flex;
  width: 80%;
}

.two-columns {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  color:  #2f80ed;
  width: 175px;
  line-height: 1,2px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  align-items: center;
  justify-content: center;
}

.two-columns__paragraph {
margin: 0;
padding: 0;
}

.two-columns__paragraph:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-top: 100px;
  margin-bottom: 0;

  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
}

.section-subtitle {
  margin: 0 auto;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
}

.table {
   width: 1100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 100px;
}

.table__cell {
  width: 250px;
  text-align: left;
  margin: 60px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1,15px;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1,2px;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0;
  padding: 0;
}

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  flex-direction: column;
}

.feynman__title {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 648px;
  line-height: 1,15px;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  z-index: 1;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  z-index: 0;
}

.kaufman {
  display: flex;
  background-color:  #1f1f1f;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.section-title_theme_dark {
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}


.section-subtitle_theme_dark {
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.table_theme_dark {
  position: relative;
  display: flex;
  width: 1100px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  z-index: 1;
}

.table__text_theme_dark {
  padding-top: 20px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer  {
  display: flex;
  min-height: 350px;
  background-color:  #1f1f1f;
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.column__content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__column_content_info {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  width: 16px;
  height: 16px;
  margin-bottom: 16px;
  color: white;
  text-decoration: none;
}

.footer__column-links {
 margin: 0;
 padding: 0;
 list-style-type: none;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  font-size: 18px;
}
